# FPC, Lazarus stuff
*.compiled
*.rsj
*.rst
*.o
*.or
*.ppu
*.a
*.lps
*.lrs
*.dbg
*.res
lib/

# Delphi stuff
*.dproj.local
*.identcache
*.stat
*.dcu
*.dsk
*.~dsk
# https://docwiki.embarcadero.com/RADStudio/Sydney/en/API_(*.rsm)
*.rsm
*.local
__recovery
*.deployproj
*.delphilsp.json

# Other backups
*.blend1
*.blend2
*~
backup

# Other unwanted
*.apk
*.aab
*.log
*.exe
*.dll
libsteam_api.so
libsteam_api.dylib
*.pro.user
.DS_Store
xcuserdata
!xcshareddata


ugli
ugli.app/
